body {
    font-family: 'Poppins', sans-serif;
    background-color: #163189;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:whitesmoke ;
}

.container {
    background-color: #144da3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(87, 83, 83, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: 500;
    margin-bottom: 5px;
}

select, button {
    padding: 15px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #50cff3;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00b348;
}

#book-recommendations {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book {
    background-color: #8e61bb;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(104, 101, 101, 0.1);
    text-align: left;
}
